static/upload/cocacola.jpg
static/upload/frozenlake.jpg
static/upload/IMG_20220901_150214.jpg
static/upload/pexels.mp4
static/upload/sample.mp4
weather27.03.23.02.25.44.txt
createdb.py
webshop2.py
weather27.03.23.02.25.36.txt
weather27.03.23.02.25.32.txt
templates/webshop2.html
