<!DOCTYPE html>
<html>
    <head>
        <title>Change password</title>
        <!--javascript tiedoston linkitys-->
        <script src="{{url_for('static', filename='scripts.js')}}"></script>
    </head>

        <body>
            <center>
                <form action="/changePsw" method="post">
            <h3>Change password</h3>
            <p>Username:</p>
            <input type="text" name="username"><br>
            <p>Current psw: </p>
            <input id="psw1" type="password" name="currentpsw"><br>
            <p>New password:</p>
            <input id="psw2" type="password" name="newpsw"><b></b>
            <p>Type new password again: </p>
            <input id ="psw3" type="password" name="newagain"><br>
            
            <input type="checkbox" id="show" onclick="typeChanger()">
            <label for="show">Show passwords</label>
            <br>
            <button class="Btn" type="submit">Change password</button>
        </form>
            <center></center>
           
            
        </body>
  
</html>